<?xml version="1.0" encoding="utf-8" ?>
<configuration>
<configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="StswGallery.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <StswGallery.Properties.Settings>
            <setting name="Shortcut1Type" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Shortcut1Value" serializeAs="String">
                <value />
            </setting>
            <setting name="Shortcut2Type" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Shortcut2Value" serializeAs="String">
                <value />
            </setting>
            <setting name="Shortcut3Type" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Shortcut3Value" serializeAs="String">
                <value />
            </setting>
            <setting name="Shortcut4Type" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Shortcut4Value" serializeAs="String">
                <value />
            </setting>
            <setting name="Shortcut5Type" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Shortcut5Value" serializeAs="String">
                <value />
            </setting>
            <setting name="Shortcut6Type" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Shortcut6Value" serializeAs="String">
                <value />
            </setting>
            <setting name="Shortcut7Type" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Shortcut7Value" serializeAs="String">
                <value />
            </setting>
            <setting name="Shortcut8Type" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Shortcut8Value" serializeAs="String">
                <value />
            </setting>
            <setting name="Shortcut9Type" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Shortcut9Value" serializeAs="String">
                <value />
            </setting>
            <setting name="Shortcut0Type" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Shortcut0Value" serializeAs="String">
                <value />
            </setting>
        </StswGallery.Properties.Settings>
    </userSettings>
</configuration>